<%# Show every information of the user %>
<div class="text-center my-3">
<h1>Fiche de l'utilisateur</h1>
</div>
<br> 
<div class="mx-3">
<p>Prénom : <%= @user_db.first_name %></p>
<p>Nom : <%= @user_db.last_name %></p>
<p>Description : <%= @user_db.description %></p>
<p>email : <%= @user_db.email  %></p>
<p>Age : <%= @user_db.age %></p>
<p>Ville : <%= @user_db.city.name %></p>
</div>
