<div class="text-center my-4">
<h1> Gossip </h1>
</div>

<%# Creating the differents link of the user, to access their pages %>
<div class="mx-4">
  
<h4>Ecrit par <a href="/users/<%= @gossips.user.id %>"><%= @gossips.user.first_name%></a></h2>
<h6>Ville de l'auteur : <a href="/cities/<%=@gossips.user.city.id%>"><%= @gossips.user.city.name %></a></h6>
<hr>
<h5><p>Titre: <%= @gossips.title %></p></h5>
<p><%= @gossips.content %></p>
<hr>
<p>Date de création : <%= @gossips.created_at  %></p>
</div>
