<div class="text-center my-4">
<h1> Gossip </h1>
</div>

<%# Creating the differents link of the user, to access their pages %>
<div class="mx-4">
  
<h4>Ecrit par <a href="/users/<%= @gossip.user.id %>"><%= @gossip.user.first_name%></a></h2>
<h6>Ville de l'auteur : <a href="/cities/<%=@gossip.user.city.id%>"><%= @gossip.user.city.name %></a></h6>
<hr>
<h5><p>Titre: <%= @gossip.title %></p></h5>
<p><%= @gossip.content %></p>
<hr>
<p>Date de création : <%= @gossip.created_at  %></p>
<hr>
<p><%= button_to "Editer Gossip", edit_gossip_path, :method => "get"%></p>
<p><%= button_to "Delete Gossip", gossip_path(@gossip), :method => "delete" %></p>
<br>
<p><%= button_to "Commenter Gossip", new_gossip_comment_path(@gossip.id), :method => "get" %></p>
<hr>

<% @gossip.comments.sort.each do |x| %>
  <div class="card" style="width: 18rem;">
    <div class="card-body">
      <h5 class="card-title"><%= x.content %></h5>
      <p>Ecrit par : <%= link_to "#{x.user.first_name}", user_path(x.user.id) %></p>
      <%= button_to "Modifier ou supprimer ce commentaire", edit_gossip_comment_path(@gossip.id, x.id), :method => "get" %>
    </div>
  </div>
<% end %>

</div>
